### Brief Overview 

This assignment involves practicing data wrangling techniques that are frequently applied in real-world scenarios. The goal of this assignment is to produce a table that shows the cost of medication per Medicaid enrollee in each state. This table will enable analyses such as:
  * Identifying the medications that constitute the majority of a state's Medicaid spending
  * Comparing the frequency of specific medication prescriptions across states

The datasets needed for this assignment are available at the following URLs:
  * [medicaid_data.csv](https://www.dropbox.com/s/u6ctjqxnk0wxpbk/medicaid_data.csv?dl=1)
  * [medicaid_enrollment.tsv](https://www.dropbox.com/s/969mohzhpu78r10/medicaid_enrollment.tsv?dl=1)
  * [tax_data.csv](https://www.dropbox.com/s/zm37nu7vnirha4m/tax_data.csv?dl=1)

### Instructions on answering the questions

- Some questions require the use of only `DataFrame` or `Series` methods or properties. Solutions that do not use methods on `DataFrame` or `Series` are not acceptable, even if they provide the correct answer.

- For example, to find the number of entries in `tax_data` using only its methods or properties, `len(tax_data)` is incorrect because `len()` is not a method of `tax_data`. The statement below is correct:


  - `shape` property of `tax_data`:
  
    ```python
    tax_data.shape
    ```

- To count unique entries in a column called `STATEFIPS` of a dataset called `tax_data`, the following illustrates an unacceptable and an acceptable approach:

- Incorrect due to use of `set()` and `len()`, which are not methods of `tax_data`:

    ```python
    len(set(tax_data["STATEFIPS"]))
    ```

- Incorrect, although using `unique()`, a `tax_data` method, it incorrectly applies `len()`, not a method of `tax_data`, to count unique entries:

    ```python
    len(tax_data["STATEFIPS"].unique())
    ```

- Correct, as it uses `nunique()`, a method of the `Series` from `tax_data['STATEFIPS']`:

    ```python
    tax_data['STATEFIPS'].nunique()
    ```

- Chaining methods and properties is recommended unless it leads to confusion. For example, to check for a value in the index:

    ```python
    tax_data.index.contains(99999)
    ```

- Instead of:

    ```python
    99999 in tax_data.index
    ```

- Only `pandas` and `numpy` may be imported. 

- __Important__: Clearly state the exact commands used for each answer.

- Multiple lines of code per cell are permitted unless stated otherwise.

- Use`.SHIFT+TAB` to "explore" methods and properties available on `DataFrame` or `Series`. For detailed documentation on a method, press `.SHIFT+TAB` twice. This approach will not only help you find solutions to the questions but also improve your understanding of `pandas`.

### 1. Loading and exploring the tax data

Import the libraries `Pandas` and `numpy` using their standard aliases.

In [1]:
# WRITE YOUR CODE HERE
import pandas as pd
import numpy as np

- Import the IRS Statistics of Income (SOI) dataset from the provided CSV file (`tax_data.csv`) into a DataFrame named `tax_data`.

- The dataset in `tax_data.csv` has been preprocessed from its original form available at this URL:
  - [15zpallagi.csv](https://www.irs.gov/pub/irs-soi/15zpallagi.csv)

In [2]:
## WRITE YOUR CODE HERE 
tax_data = pd.read_csv('https://www.dropbox.com/s/zm37nu7vnirha4m/tax_data.csv?dl=1');

- Display the first eight rows of the DataFrame using the `tax_data` method or property.

In [3]:
## WRITE YOUR CODE HERE 
tax_data.head(8)

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1.0,AL,0.0,1.0,836320.0,481570.0,109790.0,233260.0,455560.0,1356760.0,...,373410.0,328469.0,0.0,0.0,0.0,0.0,61920.0,48150.0,732670.0,1933120.0
1,1.0,AL,0.0,2.0,494830.0,206630.0,146250.0,129390.0,275920.0,1010990.0,...,395880.0,965011.0,0.0,0.0,0.0,0.0,73720.0,107304.0,415410.0,1187403.0
2,1.0,AL,0.0,3.0,261250.0,80720.0,139280.0,36130.0,155100.0,583910.0,...,251490.0,1333418.0,0.0,0.0,0.0,0.0,64200.0,139598.0,193030.0,536699.0
3,1.0,AL,0.0,4.0,166690.0,28510.0,124650.0,10630.0,99950.0,423990.0,...,165320.0,1414283.0,0.0,0.0,0.0,0.0,45460.0,128823.0,116440.0,377177.0
4,1.0,AL,0.0,5.0,212660.0,19520.0,184320.0,4830.0,126860.0,589490.0,...,212000.0,3820152.0,420.0,168.0,60.0,31.0,83330.0,421004.0,121570.0,483682.0
5,1.0,AL,0.0,6.0,55360.0,2950.0,49260.0,350.0,41410.0,160530.0,...,55300.0,6027793.0,22090.0,39519.0,27550.0,95112.0,28590.0,791573.0,15960.0,250289.0
6,1.0,AL,35004.0,1.0,1490.0,970.0,230.0,280.0,700.0,2160.0,...,690.0,610.0,0.0,0.0,0.0,0.0,120.0,94.0,1290.0,2792.0
7,1.0,AL,35004.0,2.0,1350.0,630.0,360.0,300.0,610.0,2540.0,...,1140.0,3019.0,0.0,0.0,0.0,0.0,210.0,301.0,1130.0,2935.0

- Rewrite the headers of `tax_data` to uppercase.
  - Utilize only `DataFrame` or `Series` methods or properties for this task.
  - Avoid manually specifying uppercase column names; instead, apply a method to convert them automatically.
  - Leverage the `tax_data.columns` attribute, which provides a `Series` of the column names, in your solution.

- Expected outcome for the column names:
 ```STATEFIPS, STATE, ZIPCODE, AGI_STUB, N1, MARS1, MARS2, MARS4, PREP, N2, ...```

- Note: Converting column names to uppercase enhances consistency, eliminating the need to remember the case sensitivity of column headers.

In [4]:
## WRITE YOUR CODE HERE 
tax_data.columns = tax_data.columns.str.upper()
tax_data.head(8)

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1.0,AL,0.0,1.0,836320.0,481570.0,109790.0,233260.0,455560.0,1356760.0,...,373410.0,328469.0,0.0,0.0,0.0,0.0,61920.0,48150.0,732670.0,1933120.0
1,1.0,AL,0.0,2.0,494830.0,206630.0,146250.0,129390.0,275920.0,1010990.0,...,395880.0,965011.0,0.0,0.0,0.0,0.0,73720.0,107304.0,415410.0,1187403.0
2,1.0,AL,0.0,3.0,261250.0,80720.0,139280.0,36130.0,155100.0,583910.0,...,251490.0,1333418.0,0.0,0.0,0.0,0.0,64200.0,139598.0,193030.0,536699.0
3,1.0,AL,0.0,4.0,166690.0,28510.0,124650.0,10630.0,99950.0,423990.0,...,165320.0,1414283.0,0.0,0.0,0.0,0.0,45460.0,128823.0,116440.0,377177.0
4,1.0,AL,0.0,5.0,212660.0,19520.0,184320.0,4830.0,126860.0,589490.0,...,212000.0,3820152.0,420.0,168.0,60.0,31.0,83330.0,421004.0,121570.0,483682.0
5,1.0,AL,0.0,6.0,55360.0,2950.0,49260.0,350.0,41410.0,160530.0,...,55300.0,6027793.0,22090.0,39519.0,27550.0,95112.0,28590.0,791573.0,15960.0,250289.0
6,1.0,AL,35004.0,1.0,1490.0,970.0,230.0,280.0,700.0,2160.0,...,690.0,610.0,0.0,0.0,0.0,0.0,120.0,94.0,1290.0,2792.0
7,1.0,AL,35004.0,2.0,1350.0,630.0,360.0,300.0,610.0,2540.0,...,1140.0,3019.0,0.0,0.0,0.0,0.0,210.0,301.0,1130.0,2935.0

Determine the total number of entries (instances or records) present in the `tax_data` dataset, utilizing only `DataFrame` or `Series` methods or properties.

In [5]:
## WRITE YOUR CODE HERE 
tax_data.shape[0]

166698

Write a single Python expression using either `DataFrame` or `Series` methods or properties to print the title of the 32nd column in the `tax_data` DataFrame, assuming `STATEFIPS` is the label of the first column.

In [6]:
## WRITE YOUR CODE HERE 
tax_data.columns[31]

'N00900'

Determine the column index for `N10300` in a `DataFrame` where `STATEFIPS` is the first column (index 0). You must use only `DataFrame` or `Series` methods or properties for your calculation.

In [7]:
## WRITE YOUR CODE HERE 
tax_data.columns.get_loc('N10300')

121

- Calculate and display the number of unique zip codes per state, sorted in descending order of count. Utilize only `DataFrame` or `Series` methods or attributes for this task.

- The expected output format is provided below, with '...' signifying additional data not displayed:

```python
        ZIPCODE
STATE	
TX	     9714
NY	     9238
CA	     8908
PA	     8208
IL	     7386
...
```

* This output signifies the existence of 9,714 unique zip codes in TX, 9,238 in NY, and so forth.

In [8]:
## WRITE YOUR CODE HERE 
unique_zipcodes_by_state = (tax_data.
                            groupby('STATE')['ZIPCODE'].
                            nunique().
                            sort_values(ascending=False))
unique_zipcodes_by_state

STATE
TX    1619
NY    1540
CA    1485
PA    1368
IL    1231
OH     998
FL     920
MI     892
MO     890
IA     827
VA     793
MN     792
NC     725
WI     714
IN     674
GA     667
KY     656
KS     598
TN     590
AL     577
NJ     547
OK     547
WV     512
WA     497
AR     490
NE     486
MA     482
LA     453
MD     405
CO     395
SC     376
MS     370
ME     370
OR     356
AZ     295
ND     287
SD     287
CT     264
VT     238
NH     232
MT     225
ID     213
NM     209
UT     186
NV     128
WY     109
RI      71
HI      60
DE      57
AK      56
DC      24
Name: ZIPCODE, dtype: int64

Determine the index of 'HI' within the list that enumerates the number of zip codes for each state, as created in the preceding question. Restrict your methods or attributes to those available within `DataFrame` or `Series`.

In [9]:
## WRITE YOUR CODE HERE 
unique_zipcodes_by_state.index.get_loc('HI')

47

### 2. Identifying and Removing Ambiguous Zip Codes

Calculate the total number of records where the ZIPCODE value is 0. Store the result in a variable named nb_invalid_zip.

In [10]:
## WRITE YOUR CODE HERE 
nb_invalid_zip = int((tax_data['ZIPCODE'] == 0).sum())
nb_invalid_zip

306

- Execute the line of code provided in the code cell below to verify that `nb_invalid_zip` is of type `int`.
  - Keep in mind that `assert` will produce an error if `type(nb_invalid_zip)` does not return `int`.
- Should the code cell below result in an error, adjust your previous response to ensure `nb_invalid_zip` is represented as a numerical value.

In [11]:
assert(type(nb_invalid_zip) == int)

Filter out all rows from the `DataFrame` `tax_data` where the zip code is equal to `0`. Store the filtered `DataFrame` in a new variable called `tax_data_valid_zip`. Use only `DataFrame` or `Series` methods or properties in your solution.

In [12]:
## WRITE YOUR CODE HERE 
tax_data_valid_zip = tax_data.query('ZIPCODE != 0')
tax_data_valid_zip.shape[0]

166392

* Execute the following line to ensure the operation was successful.

  * Verify that the sum of rows with "zip code equal to 0" and the number of rows in `tax_data_valid_zip` equals the total number of rows in the `tax_data` DataFrame.

If the sum does not match the total rows in `tax_data`, the assertion will fail and display an error message. In such an event, review your previous code.

In [13]:
assert((tax_data_valid_zip.shape[0] + nb_invalid_zip) == tax_data.shape[0])

### Identifying and Removing Lines with Missing Values

- Find the number of rows in the `tax_data_valid_zip` DataFrame that have at least one `NaN` value. Use only `DataFrame` methods and properties for this calculation.
- Store the count of rows with any `NaN` values in a variable named `nb_missing_values`.

In [14]:
## WRITE YOUR CODE HERE 
nb_missing_values = (tax_data_valid_zip.
                     isna().
                     any(axis=1).
                     sum())
nb_missing_values

199

- Create a new `DataFrame` named `tax_data_valid_zip_cleaned` that includes all rows from `tax_data_valid_zip` while excluding any rows with missing values (`NaN`).

In [15]:
## WRITE YOUR CODE HERE 
tax_data_valid_zip_cleaned = tax_data_valid_zip.dropna()
tax_data_valid_zip_cleaned.shape[0]

166193

Execute the line below to verify the operation's success. Ensure that the sum of `nb_missing_values` and the number of lines in `tax_data_valid_zip_cleaned` equals the total number of lines in `tax_data_valid_zip`. Remember, an assertion error will occur if the expected results are not met.

In [16]:
assert((tax_data_valid_zip_cleaned.shape[0] + nb_missing_values) == tax_data_valid_zip.shape[0])

### Computing the Percentile Income per Zip Code

- Understand the functionality of `compute_percentile_zipcode` which calculates the percentile income for each zip code.
- Note that the default `percentile` value is 0.5, meaning the function, by default, computes the median income.
- Carefully review the code to make sure you understand it before to proceeding with the subsequent question.

In [17]:
def compute_percentile_zip(df_zip, percentile=0.5):     
    index_median = sum(( df_zip["N1"]/ sum(df_zip["N1"])).cumsum() <= percentile)
    val_below_or_at_median = (df_zip["A00100"] /df_zip["N1"]).iloc[index_median]
    return val_below_or_at_median

### Challenge: 

Calculate the 65th percentile of income for each zip code within the `tax_data_valid_zip_cleaned` DataFrame. Use only `DataFrame` or `Series` methods and properties for your calculation. 

Organize the calculated values in descending order and store them in a new DataFrame named `zip_rev_all`.

Ensure the output Series format is as follows, with '...' indicating additional data not displayed:

```python
ZIPCODE
33109    3954.114286
33480    3413.301538
...
```

In [4]:
## WRITE YOUR CODE HERE

Identify the top three zip codes with the highest 65th percentile income value.

In [13]:
## WRITE YOUR CODE HERE